@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply text-primary;
}

html {
	scrollbar-width: none;
	font-weight: 500;
	&::-webkit-scrollbar {
		display: none;
	}
	*,
	*:before,
	*:after {
		scrollbar-width: none;
	}

	*::-webkit-scrollbar {
		display: none;
	}
}

.pattern-bg {
	background-image: url('/images/point.svg');
}
