@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

html {
	@apply text-primary;
	scrollbar-width: none;
	font-weight: 500;
	&::-webkit-scrollbar {
		display: none;
	}
	*,
	*:before,
	*:after {
		scrollbar-width: none;
	}

	*::-webkit-scrollbar {
		display: none;
	}
}

.pattern-bg {
	background-image: url('/images/point.svg');
}

@keyframes move {
	0% {
		offset-distance: 0%;
	}
	100% {
		offset-distance: 100%;
	}
}
